@import "StyleVars";

$mobile-width: 480px;
// $tablet-width: 768px;
// $desktop-width: 1024px;
@mixin mobile {
    @media (min-width: 0) and (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$mobile-width}) {
        @content;
    }
}

cl-neutral-4 {
    background: #bdbdbd;
    opacity: 0.2;
}

.stepper {
    display: flex;
    // background-color: $cl-neural-3;
    justify-content: space-between;
    // padding: 10px;

    @include mobile {
        // background-color: red;
        flex-direction: column;
        height: 100%;
    }
    @include desktop {
        // background-color: blue;
        flex-direction: row;
        width: 100%;
    }
}
