@import "StyleVars";
@import "Stepper";

@import url(http://fonts.googleapis.com/css?family=Roboto);

desk-h3 {
    &-font {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
    }

    &-color {
        color: $cl-neutral-5;
    }
}

desk-body {
    &-font {
        font-family: Roboto;
        font-size: 16px;
        font-style: regular;
        // font-weight: 500;
    }

    color: $cl-neutral-5;
}

.step {
    padding: 16px;
    display: flex;
    flex: 1;
    align-items: center;

    &:hover {
        background-color: $cl-black8;
        border-radius: 4px;
    }

    @include mobile {
        flex-direction: row;
    }
    @include desktop {
        flex-direction: column;
    }

    &-number {
        &-visited {
            border-radius: 50%;
            background-color: $cl-primary;
            color: $cl-white;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font: Roboto 12px medium;
            font-family: Roboto;
            font-size: 16px;
            color: $cl-white;
            // text-align: center;
        }
        &-activated {
            @extend .step-number-visited;
            box-shadow: 0 0 0 6px $cl-primary-light;
        }
        &-unvisited {
            @extend .step-number-visited;
            color: $cl-primary;
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid $cl-primary-light;
        }
    }

    
    &-label {
        &-margin {
            @include mobile {
                margin-left: 10px;
            }
            @include desktop {
                margin-top: 10px;
            }
        }

        &-visited {
            @extend .step-label-margin;
            @extend desk-body-font;
        }
        &-activated {
            @extend .step-label-margin;
            @extend desk-h3-font;
            
        }
        &-unvisited {
            @extend .step-label-margin;
            // @extend desk-h3-font;
            // @extend .step-number-visited;
            // color: $cl-primary;
            // background-color: rgba(0, 0, 0, 0);
            // border: 2px solid $cl-primary-light;
        }
    }
}
