@import "StyleVars";
@import "Stepper";

@import url(http://fonts.googleapis.com/css?family=Roboto);

desk-h3 {
    font: Roboto 18px medium;
    color: $cl-neutral-5;
}

desk-body {
    font: Roboto 16px;
    color: $cl-neutral-5;
}

.step {
    padding: 16px;
    display: flex;
    flex: 1;
    align-items: center;

    @include mobile {
        flex-direction: row;
    }
    @include desktop {
        flex-direction: column;
    }

    &-number {
        &-visited {
            border-radius: 50%;
            background-color: $cl-primary;
            color: $cl-white;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font: Roboto 12px medium;
            // text-align: center;
        }
        &-activated {
            @extend .step-number-visited;
            box-shadow: 0, 0 6px $cl-primary 12%;
        }
        &-unvisited {
            @extend .step-number-visited;
            color: $cl-primary;
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid $cl-primary-light;
        }

    }

    &-label {
        &-visited {
           @extend desk-body;
        }
        &-activated {
            @extend desk-h3;
        }
        &-unvisited {
            // @extend .step-number-visited;
            // color: $cl-primary;
            // background-color: rgba(0, 0, 0, 0);
            // border: 2px solid $cl-primary-light;
        }
    }
}
