
cl-neutral-4 {
    background: #bdbdbd;
    opacity: 0.2;
}



.stepper {
    width: 100%;
}



$phone-width: 768px;
$desktop-width: 1024px;
@mixin tablet {
    @media (min-width: #{$phone-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
